.NoteEditor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Toolbar {
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    border-bottom: 2px var(--blue) solid;
    display: flex;
}

.ToolIcon.ToolIcon {
    flex: 0 0 auto;
    margin: 0px 8px;
}

.Title {
    font-family: inherit;
    font-weight: bold;
    font-size: 2em;
    flex: 0 0 auto;
    margin: 0;
    padding: 2px 10px;
    box-sizing: border-box;
    border: none;
    outline:none;
}

.Content {
    font-family: inherit;
    flex: 1 0 auto;
    border: none;
    margin: 0;
    padding: 2px 10px;
    box-sizing: border-box;
    resize: none;
    outline:none;
}

.Tag {
    display: inline-block;
    background-color: #333;
    color: #eee;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 2px;
}

.Title, .Content {
    margin-left: 20px;
}