.Button {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #eee;
    color: grey;
    font: inherit;
    padding: 10px;
    /* margin: 10px; */
    font-weight: bold;
    box-sizing: border-box;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
    border: 2px solid #eee;
}

.Success {
    color: rgb(42, 190, 75);
    border-color: rgb(42, 190, 75);
}

.Danger {
    color: rgb(160, 14, 14);
    border-color: rgb(160, 14, 14);
}