.Container {
    display: flex;
    height: 100%;
    overflow: hidden;
    /* height: 100%; */
}
.Split {
    /* background-color: blueviolet; */
    /* display: flex; */
    /* height: 100%; */
    height: 100%;
    width: 50%;
    /* position: relative; */
}

.Separator {
    flex-basis: 10px;
    background-color: red;
}