.NavItem {
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    font-size: 1.1em;
    padding: 2px 5px;
    box-sizing: border-box;
}

.NavItem:first-of-type {
    margin-right:auto;
}

.NavItem.active {
    background-color: rgba(0, 0, 0, 0.164);
    font-weight: bold;
}