.NoteViewer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Title {
    font-family: inherit;
    font-weight: bold;
    font-size: 2em;
    flex: 0 0 auto;
    margin: 0;
    padding: 2px 10px;
    box-sizing: border-box;
    border: none;
}

.Content {
    font-family: inherit;
    flex: 1 0 auto;
    border: none;
    margin: 0;
    padding: 2px 10px;
    box-sizing: border-box;
}