.NoteListItem {
    width: calc(100% - 30px);
    display: block;
    border-bottom: 3px solid var(--lighter-blue);
    border-right: 2px solid var(--lighter-blue);
    background-color: white;
    font-family: inherit;
    box-sizing: border-box;
    padding: 7px;
    /* box-shadow: inset 0px 0px 10px 10px rgb(182, 182, 182); */
    margin-top: 10px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    min-height: 100px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.NoteListItem:first-of-type {
    margin-top: 0px;
}

.NoteListItem:hover {
    background-color: rgb(220, 238, 255);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.Selected {
    border-color: var(--blue);
    border-right: 4px var(--darker-blue) solid;
    border-radius: 10px;
    background-color: var(--lighter-blue);
    transform: translateX(30px);
    transition: all 0.2s ease-in-out;
}

.Title {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0;
}

.GettingDeleted {
    transition: all 0.2s ease-in-out;
    background-color: rgb(255, 111, 111);
    border-color: rgb(255, 69, 69);
}

.GettingAdded {
    transition: all 0.2s ease-in-out;
    background-color: rgb(111, 255, 135);
    border-color: rgb(69, 255, 69);
}

.EmptyNote {
    text-align: center;
}
