.NoteListItem {
    width: 100%;
    height: 20%;
    display:block;
    background-color: rgb(225, 234, 241);
    border: 2px solid rgb(86, 177, 219);
    font-family: inherit;
    box-sizing: border-box;
    padding: 5px;
}

.Title {
    font-weight: bold;
}