body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


:root {
    --darker-blue: rgb(84, 144, 201);
    --blue: rgb(109, 184, 255);
    --lighter-blue: rgb(206, 231, 255);

    --toolbar-icon-size: 1.4em;
    --input-border-radius: 12px;
    --toolbar-icon-border-radius: 12px;
}