.Layout {
    margin: 0;
    height: 100vh;
    overflow: hidden;

    /* For its contents */
    display: flex;
    flex-direction: column;
}

.NavBar {
    display: flex;
    flex-direction: row;
    background-color: #ccc;
}

.Content {
    /* background-color: brown; */
    width: 100%;
    flex: 1 1 auto;
    min-height: 200px;
}

.Footer {
    flex: 0 0 auto;
    background-color: yellow;
    text-align: center;
}
